<%= form_with(model: whisky, local: true) do |form| %>
  <% if whisky.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(whisky.errors.count, "error") %> prohibited this whisky from being saved:</h2>
      <ul>
        <% whisky.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :name, "銘柄名", class: "text-grey-500 text-sm font-bold" %><br>
    <%= form.text_field :name, class: "bg-white appearance-none border border-gray-300 rounded py-2 px-3 text-grey-darker w-full" %>
  </div>

  <div class="mb-4">
    <%= form.label :genre, "ジャンル（例：スコッチ、バーボン）", class: "text-grey-500 text-sm font-bold" %><br>
    <%= form.text_field :genre, class: "bg-white appearance-none border border-gray-300 rounded py-2 px-3 text-grey-darker w-full" %>
  </div>

  <div class="mb-4">
    <%= form.label :country, "原産国", class: "text-grey-500 text-sm font-bold" %><br>
    <%= form.text_field :country, class: "bg-white appearance-none border border-gray-300 rounded py-2 px-3 text-grey-darker w-full" %>
  </div>

  <div class="mb-4">
    <%= form.label :status, "状態", class: "text-grey-500 text-sm font-bold" %><br>
    <%= form.select :status, Whisky.statuses.keys.map { |k| [k, k] }, class: "appearance-none py-2 px-3 text-grey-darker" %>
  </div>

  <div class="mb-4">
    <%= form.label :rating, "評価（1〜5）", class: "text-grey-500 text-sm font-bold" %><br>
    <%= form.number_field :rating, in: 1..5, class: "bg-white appearance-none border border-gray-300 rounded py-2 px-3 text-grey-darker" %>
  </div>

  <div class="mb-4">
    <%= form.label :comment, "感想・メモ", class: "text-grey-500 text-sm font-bold" %><br>
    <%= form.text_area :comment, class: "bg-white appearance-none border border-gray-300 rounded py-2 px-3 text-grey-darker w-full" %>
  </div>

  <div class="mb-4">
    <%= form.label :drank_on, "飲んだ日", class: "text-grey-500 text-sm font-bold" %><br>
    <%= form.date_field :drank_one, class: "bg-white appearance-none border border-gray-300 rounded py-2 px-3 text-grey-darker" %>
  </div>

  <div class="mb-8">
    <%= form.label :images, "画像（最大3枚）" %><br>
    <%= form.file_field :images, multiple: true, accept: 'image/*', class: "bg-white appearance-none border border-gray-300 rounded py-2 px-3 text-grey-darker" %>
  </div>

  <div class="mb-8">
    <%= form.submit "登録", class: "text-base font-bold bg-blue-500 text-white p-2 w-full block text-sm py-4 rounded-sm" %>
  </div>
<% end %>