<!DOCTYPE html>
<html>
  <head>
    <title>WhiskyLogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Chart.js 用 -->
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/chartkick@5.0.1/dist/chartkick.min.js" %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js" %>

    <!-- Chart.js の date adapter -->
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/luxon@3.4.3/build/global/luxon.min.js" %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.3.1/dist/chartjs-adapter-luxon.umd.js" %>


  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <%= link_to "マイページ", mypage_path %> |
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "ログイン", new_user_session_path %>
      <% end %>
    </header>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    
    <main>
      <%= yield %>
    </main>

  </body>
</html>
